# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Deine sensiblen Daten
devices.json
log.json
.env

# Sonstiges
*.sqlite3